/* line 5, app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}

/* line 9, app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 4px;
  vertical-align: top;
}

/* line 14, app/assets/stylesheets/products.scss */
.products .list_image {
  width: 95px;
  height: 100px;
}

/* line 19, app/assets/stylesheets/products.scss */
.products .list_description {
  width: 85%;
}

/* line 22, app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}

/* line 26, app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #7a63cf;
  font-weight: bold;
  font-size: large;
}

/* line 32, app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}

/* line 37, app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: small;
  text-align: right;
  padding-left: 1.2em;
}

/* line 43, app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #b6b3b3;
}

/* line 47, app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #5451a7;
}

/* END_HIGHLIGHT */
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #1f1a1a;
  margin: 30px;
}

/* line 6, app/assets/stylesheets/scaffolds.scss */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* line 11, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #cfcccc;
  padding: 11px;
  font-size: 12px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
a {
  color: #161414;
}

/* line 19, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 26, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 6px;
}

/* line 29, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 32, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 36, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 51, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 64, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 4, app/assets/stylesheets/shopper.scss */
.shopper {
  /* An entry in the store catalog */
}

/* line 5, app/assets/stylesheets/shopper.scss */
.shopper h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

/* line 14, app/assets/stylesheets/shopper.scss */
.shopper .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}

/* line 20, app/assets/stylesheets/shopper.scss */
.shopper .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}

/* line 27, app/assets/stylesheets/shopper.scss */
.shopper .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

/* line 36, app/assets/stylesheets/shopper.scss */
.shopper .entry p, .shopper .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

/* line 42, app/assets/stylesheets/shopper.scss */
.shopper .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 3em;
}

/* END_HIGHLIGHT */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
 #banner {
     background: #efc780;
     padding: 10px;
     border-bottom: 2px solid;
     font: 40px/40px "Arial";
     color: #282;
     text-align: center;

     img {
         float: left;
     }
 }

 #notice {
     color: #000 !important;
     border: 2px solid red;
     padding: 1em;
     margin-bottom: 2em;
     background-color: #f0f0f0;
     font: bold smaller sans-serif;
 }

 #columns {
     background: #9c947a;

     #main {
         margin-left: 17em;
         padding: 1em;
         background: white;
     }

     #side {
         float: left;
         padding: 1em 2em;
         width: 13em;
         background: #9c947a;

             ul {
                 padding: 0;
                 li {
                     list-style: none;
                     a {
                         color: #bfb;
                         font-size: small;
                     }
                 }
             }
         }
     }
