<!DOCTYPE html>

<div >
  <div id='columns'>
    <div id='side' >

      <div id='cart'>

      </div>
    </div>
    <div id='main' >


      <html lang="en" dir="ltr">
        <head>
          <meta charset="utf-8">
          <title></title>
        </head>
        <body>
          <h3>Welcome to MyStore</h3>
          <br><h3><a href = "http://localhost:3000/admin/login">Admin: Login</a></h3>
          <br><h3><a href = "http://localhost:3000/shopper/login">Shopper: Login</a></h3>
          <br><h3 ><a style="color:#89CFF0;" href = "http://localhost:3000/shopper/new">Create/Register new account for shopping..</a></h3>
        </body>
      </html>


    </div>

  </div>
</div>
