<div class="products">
  <div id='columns'>
    <div id='side' >

      <div id='cart'>


      </div>
    </div>

    <div id='main' >
      <a href="http://localhost:3000/admin/logout">Logout</a>

      <h1>New Product</h1>

      <%= render 'form', product: @product %>

      <%= link_to 'Back', products_path %>





    </div>

  </div>
</div>
